@use '../components/variables' as *;
@use '../components/mixins' as *;

.add {
	margin: $section-margin 0;
	.container {
		.box {
			@include flex(center, space-between);
			&:not(:last-child) {
				margin-bottom: 4rem;
			}
			&__image {
				width: 100%;
				position: relative;
				flex-basis: 50%;
				.address {
					display: flex;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translate(-50%, 50%);
					padding: 1.5rem;
					background-color: $primary;
					font-size: 1.2rem;
					color: $text-color;
					font-weight: 500;
					i {
						color: #fff;
						font-size: 1.6rem;
						margin-right: 1rem;
					}
					@include breakpoint-down(sm) {
						font-size: 1rem;
						i {
							font-size: 1.3rem;
						}
					}
				}
				img {
					width: 100%;
				}
			}
			&__info {
				flex-basis: calc(50% - 30px);
				h2 {
					color: $text-color;
					font-weight: 600;
					margin-bottom: 2rem;
				}
			}
			&:nth-of-type(even) {
				.box__image {
					.address {
						left: 80%;
					}
				}
				.box__info {
					order: -1;
					text-align: end;
				}
			}

			@include breakpoint-down(md) {
				& {
					flex-direction: column;
					&:not(:last-child) {
						margin-bottom: 5rem;
					}
					&__image,
					&:nth-child(even) .box__image {
						margin-bottom: 4rem;
						.address {
							left: 50%;
						}
					}
					&:nth-child(even) .box__info {
						order: unset;
						text-align: start;
					}
				}
			}
			.more {
				border-radius: 0;
				display: block;
				background-color: $text-color;
				color: white;
				padding: 1.8rem 4rem;
				font-size: 1rem;
				margin-top: 1.5rem;
				&:hover {
					background-color: $primary-light;
				}
			}
		}
	}
}
