*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:not(i) {
  font-family: "Poppins", sans-serif;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}

/* Style The Page Scroll Bar */
::-webkit-scrollbar {
  width: 0.65rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ffcc01;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffde5d;
}

/* black background for the page */
body.overlay::after {
  content: "";
  transition: all 0.5s;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button,
input {
  outline: 0;
  border: none;
}

/* Change user select style */
::selection {
  background-color: #1f373d;
  color: #ffffff;
}

.container {
  width: 100%;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.main-heading {
  display: block;
  max-width: 100%;
  width: 34rem;
  color: #1f373d;
  font-size: 2.875rem;
  font-weight: 500;
  text-align: start;
  margin-bottom: 3rem;
}
@media (max-width: 576px) {
  .main-heading {
    font-size: 2.25rem;
    margin-bottom: 2rem;
  }
}
.main-heading + p {
  color: #1f373d;
  font-size: 0.895rem;
  line-height: 1.8;
  font-weight: 300;
  max-width: 500px;
  margin-bottom: 5rem;
}

.lead {
  color: #1f373d;
  font-size: 0.895rem;
  line-height: 1.8;
  font-weight: 300;
}

.btn {
  padding: 0.9rem 1.5rem;
  cursor: pointer;
  transition: all 0.35s;
  border-radius: 0.3rem;
}
.btn-link {
  background-color: transparent;
  color: #1f373d;
}
.btn-link:hover {
  color: #ffcc01;
}
.btn-outlined {
  background-color: #ffcc01;
  border: 1px solid #ffcc01;
}
.btn-outlined:hover {
  background-color: transparent;
  color: #ffcc01;
  font-weight: 600;
}
.btn-primary {
  background-color: #ffcc01;
}
.btn-primary:hover {
  background-color: #ffde5d;
}
.btn-primary-light {
  background-color: #fff;
}
.btn-primary-light:hover {
  background-color: #ffde5d;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 9999;
}
.header .container {
  --height: 5.4rem;
  height: var(--height);
  transition: all 0.35s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: unset;
}
.header .container.shrink {
  --height: 4rem;
  height: var(--height);
}
.header .container .logo {
  font-size: 1.6rem;
  font-weight: 600;
}
.header .container .logo a {
  color: #1f373d;
}
.header .container .logo:hover a {
  color: #ffcc01;
}
.header .container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: unset;
  background-color: #ffffff;
}
.header .container .navbar__menu li {
  display: inline-block;
  margin-left: 1.5rem;
}
.header .container .navbar__menu li .btn {
  padding: 0;
  font-size: 0.8rem;
}
.header .container .navbar__form {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-wrap: unset;
}
.header .container .navbar__form .btn {
  padding: 0.6rem 1.8rem;
  font-size: 0.8rem;
  display: inline-block;
}
.header .container .navbar__toggler {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
}
.header .container .navbar__toggler .bar {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #1f373d;
  left: 0;
  top: calc(50% - 1px);
}
.header .container .navbar__toggler .bar:nth-of-type(1) {
  transform: translateY(-10px);
}
.header .container .navbar__toggler .bar:nth-of-type(3) {
  transform: translateY(10px);
}
@media (max-width: 992px) {
  .header .container {
    justify-content: flex-start;
  }
  .header .container .navbar {
    display: block;
    position: fixed;
    top: 0;
    z-index: -1;
    width: 480px;
    right: -480px;
    height: 100vh;
    max-width: calc(100% - 3rem);
    transition: 0.35s;
    padding-top: var(--height);
  }
}
@media (max-width: 992px) and (max-width: 576px) {
  .header .container .navbar {
    width: 100%;
    right: -100%;
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .header .container .navbar.active {
    right: 0;
  }
}
@media (max-width: 992px) {
  .header .container .navbar__menu {
    width: 100%;
  }
  .header .container .navbar__menu li {
    display: block;
    padding: 1rem;
    margin: 0;
  }
  .header .container .navbar__menu li .btn {
    font-size: 1rem;
  }
}
@media (max-width: 992px) {
  .header .container .navbar__form {
    display: block;
    width: 100%;
  }
  .header .container .navbar__form .btn {
    font-size: 1rem;
    display: block;
    width: calc(100% - 2rem);
    margin: auto;
  }
}
@media (max-width: 992px) {
  .header .container .navbar__toggler {
    display: block;
    top: calc(var(--height) / 2);
    right: 0;
    transform: translateY(-50%);
    z-index: 999;
    transition: transform 0.5s ease;
  }
}
@media (max-width: 992px) and (max-width: 576px) {
  .header .container .navbar__toggler {
    right: 15px;
  }
}
@media (max-width: 992px) {
  .header .container .navbar__toggler.open .bar {
    transform: translate(0);
  }
  .header .container .navbar__toggler.open .bar:nth-of-type(1) {
    transform: rotate(45deg);
  }
  .header .container .navbar__toggler.open .bar:nth-of-type(2) {
    display: none;
  }
  .header .container .navbar__toggler.open .bar:nth-of-type(3) {
    transform: rotate(-45deg);
  }
}

.landing {
  height: 100vh;
  width: 100%;
}
.landing .container {
  padding-top: 120px;
  position: relative;
  height: 100%;
  background-image: linear-gradient(#ffffff 18%, #ffffff 18%), url(../../images/hero.jpg);
  background-size: 18%, cover;
  background-repeat: no-repeat, repeat;
}
.landing .container .intro {
  max-width: 100%;
  width: 34rem;
  position: relative;
  z-index: 1;
}
.landing .container .intro h1 {
  color: #1f373d;
  font-size: 3.5rem;
  font-weight: 600;
}
@media (max-width: 576px) {
  .landing .container .intro h1 {
    font-size: 2.25rem;
  }
}
.landing .container .intro .search {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-wrap: unset;
  position: absolute;
  top: calc(100% + 120px);
  transform: translateY(-50%);
  width: fit-content;
  box-shadow: 0px 10px 15px 0px rgba(29, 31, 36, 0.1);
  padding-left: 0.9rem;
}
.landing .container .intro .search .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}
.landing .container .intro .search input {
  padding: 0.9rem 1.5rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 2rem;
  font-size: 1rem;
  width: 300px;
}
.landing .container .intro .search input::placeholder {
  color: #a2aeab;
}
.landing .container .intro .search i {
  position: absolute;
  left: 1rem;
  color: #a2aeab;
}
@media (max-width: 576px) {
  .landing .container .intro .search {
    top: calc(100% + 70px);
  }
  .landing .container .intro .search .btn {
    padding: 1rem;
  }
  .landing .container .intro .search input {
    width: 200px;
    padding: 1rem;
  }
  .landing .container .intro .search i {
    left: 0.5rem;
  }
}
.landing .container .scroll-down {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-wrap: unset;
  gap: 1.2rem;
  position: absolute;
  writing-mode: sideways-lr;
  cursor: pointer;
  color: #919eb1;
  transform: rotate(-90deg) translateY(-100%);
  left: 0;
  bottom: 65px;
  text-align: center;
}
.landing .container .scroll-down img {
  transform: rotate(90deg);
}
.landing .container .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  width: 500px;
  max-width: 82%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ffcc01;
}
.landing .container .info .box {
  flex-basis: 50%;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-wrap: unset;
  gap: 15px;
}
.landing .container .info .box i {
  color: #ffffff;
  font-size: 1.5rem;
}
.landing .container .info .box p {
  display: inline-block;
  color: #1f373d;
  font-size: 1.2rem;
}
@media (max-width: 576px) {
  .landing .container .info .box {
    padding: 1rem;
  }
  .landing .container .info .box i {
    font-size: 1.25rem;
  }
  .landing .container .info .box p {
    font-size: 0.9rem;
  }
}

.about {
  margin: 8.9rem 0;
}
.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: unset;
  gap: 50px;
}
@media (max-width: 992px) {
  .about .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.about .container .about-intro {
  width: calc(100% - 500px);
  max-width: 100%;
}
@media (max-width: 992px) {
  .about .container .about-intro {
    width: 500px;
  }
}
.about .container .statistics {
  --gap: 20px;
  display: flex;
  align-items: unset;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  width: 420px;
  height: 420px;
}
@media (max-width: 992px) {
  .about .container .statistics {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 576px) {
  .about .container .statistics {
    width: 100%;
    height: auto;
    justify-content: center;
  }
}
.about .container .statistics .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  flex-direction: column;
  width: calc(50% - var(--gap) / 2);
  height: calc(50% - var(--gap) / 2);
  background-color: #f6f5f4;
}
@media (max-width: 576px) {
  .about .container .statistics .box {
    width: 280px;
    height: 280px;
    margin-top: calc(var(--gap) * 2);
  }
}
.about .container .statistics .box h4 {
  color: #ffcc01;
  font-size: 2.8rem;
  margin-bottom: 20px;
  font-weight: 600;
}
.about .container .statistics .box span {
  color: #1f373d;
  font-size: 1rem;
  font-weight: 500;
}

.appartments {
  margin: 8.9rem 0;
  padding: 4rem 0;
  background-color: #f6f5f4;
}
.appartments .container .content {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(300px, 350px));
  justify-items: center;
}
@media (max-width: 992px) {
  .appartments .container .content {
    grid-template-columns: repeat(2, minmax(300px, 350px));
  }
}
@media (max-width: 768px) {
  .appartments .container .content {
    grid-template-columns: repeat(1, minmax(290px, 350px));
  }
}
.appartments .container .content-card {
  box-shadow: 0px 10px 15px 0px rgba(29, 31, 36, 0.1);
}
.appartments .container .content-card__image {
  width: 100%;
}
.appartments .container .content-card__image img {
  width: 100%;
}
.appartments .container .content-card__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.75rem 1rem;
}
.appartments .container .content-card__info h4 {
  color: #1f373d;
  font-weight: 500;
  font-size: 1.05rem;
  flex-basis: 100%;
  margin-bottom: 1.5rem;
}
.appartments .container .content-card__info > .content-card__info__price {
  color: #ffcc01;
  font-size: 1.25rem;
  font-weight: 600;
  flex-basis: 50%;
  text-align: left;
}
.appartments .container .content-card__info__rooms {
  flex-basis: 50%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: unset;
}
.appartments .container .content-card__info__rooms span {
  color: #1f373d;
  font-weight: 200;
}
.appartments .container .content-card__info__rooms span i {
  color: #1f373d;
  margin-right: 5px;
}
.appartments .container .search {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-wrap: unset;
  display: inline-flex;
  position: relative;
  background-color: #fff;
  width: fit-content;
  padding-left: 0.9rem;
  margin-top: 2.25rem;
  margin-right: 2.25rem;
}
.appartments .container .search .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}
.appartments .container .search input {
  padding: 0.9rem 1.5rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 2rem;
  font-size: 1rem;
  width: 300px;
}
.appartments .container .search input::placeholder {
  color: #a2aeab;
}
.appartments .container .search i {
  position: absolute;
  left: 1rem;
  color: #a2aeab;
}
@media (max-width: 576px) {
  .appartments .container .search {
    top: calc(100% + 70px);
  }
  .appartments .container .search .btn {
    padding: 1rem;
  }
  .appartments .container .search input {
    width: 200px;
    padding: 1rem;
  }
  .appartments .container .search i {
    left: 0.5rem;
  }
}
.appartments .container > .btn.btn-primary-light {
  font-size: 1rem;
  border-radius: 0.1rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}
@media (max-width: 768px) {
  .appartments .container .search {
    display: flex;
    margin: 2.25rem auto;
  }
  .appartments .container > .btn.btn-primary-light {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .appartments .container .search {
    width: calc(100% - 40px);
  }
  .appartments .container .search input {
    width: calc(100% - 2rem);
  }
  .appartments .container > .btn.btn-primary-light {
    width: calc(100% - 40px);
  }
}

.how-it-works {
  margin: 8.9rem 0;
}
.how-it-works .content {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(300px, 380px));
  justify-content: center;
  margin: 2rem 0;
  counter-set: n;
}
@media (max-width: 992px) {
  .how-it-works .content {
    grid-template-columns: repeat(1, minmax(300px, 380px));
  }
}
@media (max-width: 768px) {
  .how-it-works .content {
    grid-template-columns: repeat(1, minmax(290px, 380px));
  }
}
.how-it-works .content .box {
  padding: 1rem;
  transition: 0.35s;
  box-shadow: 0px 10px 15px 0px rgba(29, 31, 36, 0.1);
}
.how-it-works .content .box:hover {
  background-color: #ffcc01;
}
.how-it-works .content .box__bg {
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.how-it-works .content .box__bg::before {
  counter-increment: n;
  position: absolute;
  content: "0" counter(n);
  color: #1f373d;
  font-size: 10rem;
  top: 0;
  left: 0;
  font-weight: 500;
  transform: translate(-20%, -40%);
}
.how-it-works .content .box__info {
  padding-left: 2rem;
}
.how-it-works .content .box__info h4 {
  font-weight: 500;
  font-size: 1.1rem;
  position: relative;
  margin-bottom: 2rem;
}
.how-it-works .content .box__info h4::before {
  content: "0" counter(n);
  position: absolute;
  margin-left: -2rem;
}
.how-it-works .content .box__info p {
  color: #1f373d;
  font-size: 0.895rem;
  line-height: 2;
  font-weight: 300;
  margin-bottom: 2rem;
}
.how-it-works .content .box__info a {
  color: #1f373d;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: underline;
}

.services {
  margin: 8.9rem 0;
}
.services-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  gap: 6rem;
}
@media (max-width: 768px) {
  .services-section {
    flex-direction: column;
  }
}
.services-section__image {
  background-image: url(https://source.unsplash.com/650x630/?Apartment);
  background-size: cover;
  align-self: stretch;
  flex-basis: 50%;
}
@media (max-width: 768px) {
  .services-section__image {
    flex-basis: unset;
    width: 100%;
    height: 400px;
  }
}
.services-section__content .box {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.services-section__content .box:not(:last-child) {
  margin-bottom: 3rem;
}
.services-section__content .box h3 {
  color: #1f373d;
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.add {
  margin: 8.9rem 0;
}
.add .container .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: unset;
}
.add .container .box:not(:last-child) {
  margin-bottom: 4rem;
}
.add .container .box__image {
  width: 100%;
  position: relative;
  flex-basis: 50%;
}
.add .container .box__image .address {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 1.5rem;
  background-color: #ffcc01;
  font-size: 1.2rem;
  color: #1f373d;
  font-weight: 500;
}
.add .container .box__image .address i {
  color: #fff;
  font-size: 1.6rem;
  margin-right: 1rem;
}
@media (max-width: 576px) {
  .add .container .box__image .address {
    font-size: 1rem;
  }
  .add .container .box__image .address i {
    font-size: 1.3rem;
  }
}
.add .container .box__image img {
  width: 100%;
}
.add .container .box__info {
  flex-basis: calc(50% - 30px);
}
.add .container .box__info h2 {
  color: #1f373d;
  font-weight: 600;
  margin-bottom: 2rem;
}
.add .container .box:nth-of-type(even) .box__image .address {
  left: 80%;
}
.add .container .box:nth-of-type(even) .box__info {
  order: -1;
  text-align: end;
}
@media (max-width: 768px) {
  .add .container .box {
    flex-direction: column;
  }
  .add .container .box:not(:last-child) {
    margin-bottom: 5rem;
  }
  .add .container .box__image, .add .container .box:nth-child(even) .box__image {
    margin-bottom: 4rem;
  }
  .add .container .box__image .address, .add .container .box:nth-child(even) .box__image .address {
    left: 50%;
  }
  .add .container .box:nth-child(even) .box__info {
    order: unset;
    text-align: start;
  }
}
.add .container .box .more {
  border-radius: 0;
  display: block;
  background-color: #1f373d;
  color: white;
  padding: 1.8rem 4rem;
  font-size: 1rem;
  margin-top: 1.5rem;
}
.add .container .box .more:hover {
  background-color: #ffde5d;
}

.agents {
  background-color: #f6f5f4;
  margin: 8.9rem 0;
  padding: 4rem 0;
}
.agents .content {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(300px, 380px));
  justify-content: center;
}
@media (max-width: 992px) {
  .agents .content {
    grid-template-columns: repeat(1, minmax(300px, 380px));
  }
}
@media (max-width: 768px) {
  .agents .content {
    grid-template-columns: repeat(1, minmax(290px, 380px));
  }
}
.agents .content .box {
  background-color: #fff;
}
.agents .content .box__image {
  width: 100%;
}
.agents .content .box__image img {
  width: 100%;
}
.agents .content .box__info {
  padding: 1rem 1rem 0.5rem;
}
.agents .content .box__info h4 {
  font-weight: 500;
  color: #1f373d;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.agents .content .box__info__contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: unset;
}
.agents .content .box__info__contact__name {
  color: #ffcc01;
  font-size: 0.985rem;
  line-height: 1.5rem;
  font-weight: 500;
}
.agents .content .box__info__contact__social i {
  color: #1f373d;
  font-size: 0.985rem;
  margin-right: 1rem;
}

.footer {
  padding: 4rem 0;
  background-color: #1f373d;
}
.footer .explore {
  border-bottom: 1px solid #a2aeab;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: unset;
}
.footer .explore p {
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 150%;
  font-weight: 500;
}
.footer .explore .subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: unset;
  flex-basis: 50%;
  position: relative;
  max-width: 100%;
  background-color: #fff;
}
.footer .explore .subscribe input {
  padding: 1.4rem;
  font-size: 1.2rem;
  width: calc(100% - 100px);
}
.footer .explore .subscribe input::placeholder {
  color: #a2aeab;
  font-weight: 300;
}
.footer .explore .subscribe input::-webkit-input-placeholder {
  color: #a2aeab;
  font-weight: 300;
}
.footer .explore .subscribe button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: unset;
  background-color: #f8fbfc;
  align-self: stretch;
  width: 100px;
  cursor: pointer;
  transition: all 0.3s;
  color: #1f373d;
}
.footer .explore .subscribe button:hover {
  background-color: #ffde5d;
}
.footer .explore .subscribe button object {
  transform: rotate(-90deg);
  filter: hue-rotate(192deg) saturate(33%) brightness(18%);
  cursor: pointer;
}
@media (max-width: 992px) {
  .footer .explore p {
    font-size: 2rem;
  }
  .footer .explore .subscribe input {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .footer .explore {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .explore p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .footer .explore .subscribe {
    width: calc(100% - 2rem);
    font-size: 0.9rem;
  }
  .footer .explore .subscribe input {
    width: calc(100% - 60px);
    padding: 1rem;
  }
  .footer .explore .subscribe button {
    width: 60px;
  }
  .footer .explore .subscribe button object {
    width: 0.6rem;
  }
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3.5rem 1.5rem 0;
  align-items: stretch;
}
.footer__content .right h4 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
  font-weight: 400;
}
.footer__content .right p {
  color: #ffffff;
  font-size: 0.89rem;
  font-weight: 300;
  line-height: 180%;
  max-width: 15ch;
}
.footer__content__links {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, minmax(100px, 150px));
  justify-content: space-between;
}
@media (max-width: 992px) {
  .footer__content__links {
    grid-template-columns: repeat(4, minmax(100px, 150px));
  }
}
@media (max-width: 768px) {
  .footer__content__links {
    grid-template-columns: repeat(2, minmax(90px, 150px));
  }
}
@media (max-width: 576px) {
  .footer__content__links {
    grid-template-columns: repeat(2, minmax(90px, 150px));
  }
}
@media (max-width: 992px) {
  .footer__content__links {
    margin-top: 3.5rem;
    width: 100%;
  }
}
.footer__content__links__list h3 {
  color: white;
  font-weight: 200;
  font-size: 0.9rem;
  letter-spacing: 1px;
  opacity: 0.7;
  margin-bottom: 3rem;
}
.footer__content__links__list ul li {
  margin-bottom: 1rem;
}
.footer__content__links__list ul li a {
  color: #fff;
  font-weight: 300;
  font-size: 0.9rem;
}

/*# sourceMappingURL=style.css.map */
